body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body {font:12px ;font-family:"微软雅黑"; }
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }

.heard{ width: 100%;height: 32px;}
.top{ width: 1000px;margin: 0 auto;height: 32px;line-height: 32px;font-family:"宋体" }
.top .top-left{ background: url(img/star.png) no-repeat 5px;padding-left: 20px;font-weight: bold;}
.top .top-right a{ color:#666666;}

.search{ width: 100%;height: 85px;background-color:#1D7AD9 }
.search .search-main{ width: 1000px;margin: 0 auto;position: relative; }
.search .search-main .search-logo{ padding-left:40px;padding-top: 10px; }
.search .search-box{ width: 429px;height: 35px;position: absolute;right: 235px;top: 20px;}
.search .search-text{ width: 340px;height: 35px;padding: 0 10px;border: none;background-color: #FFFFFF;outline:none; }
.search .serch-btn{height: 35px;background-color:#FF8C00;width: 69px;line-height: 35px;text-align: center;font-size:14px;border: none;color: #ffffff;}
.search .search-shop{width: 135px;height: 35px;line-height:35px;background: url(img/shopbg.png) no-repeat;position: absolute;right: 57px;top: 20px;font:14px;color: #ffffff;}
.search .shop-list1{padding-left: 41px ;background: url(img/shop.png) no-repeat 10px 6px }
.search .shop-list2{padding-right: 30px; background: url(img/xin.png) no-repeat 14px 10px;}

.nav{ height: 35px;background-color:#1369C0;width: 100% }
.nav .nav-list{ width: 1000px;margin: 0 auto;}
.nav-list h3{ width: 191px;height: 35px;text-align: center;line-height: 35px;color: #FFFFFF; font:16px;float: left; background: url(img/xia.gif) 150px center no-repeat;}
.nav-list ul li { float: left; width: 100px;height: 35px;line-height: 35px;font-size:14px }
.nav-list ul li a{ color:#FFFFFF;display: block;text-align: center;}
.nav-list ul .active{ background-color: #4593FD;}
.nav-list ul li a:hover{ background-color: #4593FD;}

.content{ width: 1000px;margin: 0 auto;}
.content .content-nav{ width: 187px;height: 325px;border: 1px solid #E5E5E5;border-top: none}
.content .content-nav dl{ width: 177px;height:50px;background:#4593FD url(img/zuo.gif) 173px 20px no-repeat;padding-top: 15px;padding-left: 13px}
.content-nav .content-nav_dt{ font:14px;color:#ffffff; }
.content-nav .menu_point{background-color: #106AC0;text-decoration: underline;border-radius:5px;color:#ffffff; }
.content-nav  .content-nav-dd{ font: 12px "宋体";color: #ffffff; }
.content .content-nav a:hover{ text-decoration: underline; }
.content .content-nav .active{ background: #ffffff; border-left: 1px solid #4593FD;border-right: 1px solid #E5E5E5;width: 176px;height:50px; color: #000000;}
.content .content-nav .active a { color: #000000 }
.content .content-box{ background:url(img/main.png) no-repeat; width: 811px;height: 325px;position: relative;}
.content .content-box a{display:black;text-align: center;width: 30px;height: 70px;background-color: #666;font-size: 30px;color: #fff;line-height: 70px;opacity: 0.5;}
.content .content-box .content-box-left{ position: absolute; left: 0;top: 128px; }
.content .content-box .content-box-right{ position: absolute; right: 0;top: 128px; }
.content .content-box a:hover{ opacity: 0.8; }

.tag{width: 1000px;height: 75px;margin: 0 auto;}
.tag h2{line-height: 75px;float: left;padding-left: 14px}
.tag img {padding-top: 16px;float: left;}
.tag p{ padding-top: 30px }

.computer{ width: 1000px;margin: 0 auto;}
.computet-left{ width: 190px;height: 400px;position: relative; }
.computer .computet-left span{ display: block; width: 70px;height: 5px;position: absolute;left: 20px ;bottom:16px; }
.computet-left  a{ display: block; width: 20px;height: 5px;margin-right: 2.5px; background: #FFFFFF;float: left}
.computet-left  .active{ background: #FF7700; }
 .computer-right{ width: 808px;height: 396px;border:1px solid #E5E5E5 ;border-bottom: 3px solid #FF7201 }
.computer-right .computer-right-list{ width: 201px;height: 396px;border-right: 1px solid #E5E5E5; }
.computer-right .shouj{ width: 186px;height: 235px;border-bottom: 1px solid #E5E5E5; padding-top: 45px;padding-left: 15px}
.computer-right  .shouj p{padding-top: 26px;font-size:16px;line-height: 20px}
.computer-right .shouj p span { font-size:14px;color: #FF7300 ;text-align: center;padding-left: 40px}
.computer-right .diannao img{ padding-left: 18px;padding-top: 30px;float: left ;}
.computer-right .diannao p{ float:left;padding-left: 12px;color:#FF7300;font-family: "新宋体";font-size: 12px;padding-top:32px; }
.computer-right .diannao p span{ color: black;font-family: "微软雅黑";font-size:16px;}
.computer-right .diannao p span i{ font-style: normal;font-size: 12px;color:#666666;   }

.wine{ width: 1000px;margin: 0 auto; }

.footer{ margin-top: 40px;width: 100%;height: 223px;background-color:#D4D4D4 }
.footer p{ text-align: center;padding-top: 56px; font: 12px "新宋体";line-height: 25px;}
.footer p strong { font-weight: normal; }
.footer p a { color: black; }